body{
  margin-top:60px;
}
.dropdown-item {
  background-color: rgba(7, 7, 7, 0.808);
}
.login, .register{
  margin-top: 85px;
}
.editUser p{
  font-size:10px;
}
.submit {
  background-color: rgb(255, 255, 255);
}
.fa-star {
  color:rgb(255, 247, 0);
  font-size: 1.5em 
}
.fa-heart {
  color:rgb(255, 0, 204);
  font-size: 1.5em 
}
.tagIcon {
  color:rgb(0, 255, 251);
  font-size: 1em 
}
.fa-id-card {
  color:rgb(255, 234, 0);
}
/* .fa-edit {
  color:rgb(55, 255, 0);
} */
.fa-twitter {
  color:rgb(0, 166, 255);
}
.fa-headphones-alt {
  color:rgb(255, 132, 0);
  font-size: 1em 
}
.icon {
  font-size: 1em 
}
.reviewModal {
  background-color:rgba(7, 7, 7, 0.808);
}

/* topページ */
@media screen and (max-width:497px) {
  .Topheader h1, .Topic h1{
    font-size:30px;
  }
  .Topheader h3{
    font-size:20px;
  }
  .topic {
    font-size:18px;
  }
  .castList img{
    width:100%;
    height:100px; 
    object-fit: cover;
  }
  .nowOpen img{
    width:100%;
    height:180px; 
  }
  }
@media screen and (min-width:497px) and (max-width:574px) {
  .Topheader h1, .Topic h1 {
    font-size:30px;
  }
  .Topheader h3{
    font-size:20px;
  }
  .castList img{
    width:100%;
    height:100px; 
    object-fit: cover;
  }
  .nowOpen img{
    width:100%;
    height:180px; 
  }
}
@media screen and (min-width:575px) and (max-width:676px) {
  .Topheader h1, .Topic h1 {
    font-size:40px;
  }
  .Topheader h3{
    font-size:30px;
  }
  .castList img{
    width:100%;
    height:100px; 
    object-fit: cover;
  }
  .nowOpen img{
    width:100%;
    height:230px; 
  }
}
@media screen and (min-width:677px) and (max-width:767px) {
  .castList img{
    width:100%;
    height:100px; 
    object-fit: cover;
  }
  .nowOpen img{
    width:100%;
    height:270px; 
  }
}
@media screen and (min-width:768px) and (max-width:991px) {

.castList img{
  width:100%;
  height:100px; 
  object-fit: cover;
}
.nowOpen img{
  width:100%;
  height:230px; 
}
}
@media screen and (min-width:992px) {
.castList img{
  width:100%;
  height:130px; 
  object-fit: cover;
}
.nowOpen img{
  width:100%;
  height:280px; 
}
.userMovies img{
  width:100px;
  height:140px; 
}
}
  

/* 俳優TOP */
@media screen and (max-width:497px) {
  .actorimage img{
  width:150px;
  height:200px;
  object-fit: cover;
}
#twieetRoom {
  font-size:14px;
}
#videoRoom p,#talkRoom p {
  font-size:13px;
}
.actorTop h1 {
  font-size:30px;
}
.actorTop h6 {
  font-size:15px;
}
.introduction {
  display:none;
}
.actorcontentList h6 {
  font-size:8px;
}
.b {
  background-color: rgba(7, 7, 7, 0.808);
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:550px;
}
}
@media screen and (min-width:497px) and (max-width:574px) {
  .actorimage img{
  width:150px;
  height:200px;
  object-fit: cover;
}

.actorTop h1 {
  font-size:30px;
}
.video {
  height:200px;
  }
.b {
  background-color: rgba(7, 7, 7, 0.808);
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:540px;
}
}
@media screen and (min-width:575px) and (max-width:676px) {
  .actorimage img{
  width:200px;
  height:250px;
  object-fit: cover;
}

.actorTop h1 {
  font-size:30px;
}
.video {
  height:300px;
}
.b {
  background-color: rgba(7, 7, 7, 0.808);
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:480px;
}
}
@media screen and (min-width:677px) and (max-width:767px) {
  .actorimage img{
  width:200px;
  height:250px;
  object-fit: cover;
  }
  
  .video {
  height:300px;
  }
  .b {
    background-color: rgba(7, 7, 7, 0.808);
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:480px;
  }
}
@media screen and (min-width:768px) and (max-width:991px) {
  .actorimage img{
  width:250px;
  height:350px;
  object-fit: cover;
}

  .video {
  height:450px;
  }
  .b {
    background-color: rgba(7, 7, 7, 0.808);
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:580px;
  }
}
@media screen and (min-width:992px) {
  .actorimage img{
  width:250px;
  height:350px;
  object-fit: cover;
  }
  .video {
  height:500px;
  }
  .b {
    background-color: rgba(7, 7, 7, 0.808);
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:580px;
  }
}

.actorcontentList {
  background-color:white;
}
.twitter-timeline {
  margin: auto;
}

/* 映画TOP */
@media screen and (max-width:497px) {
  .movieimage img{
  width:150px;
  height:200px;
  object-fit: cover;
}
.movieTop {
  height:450px;
  margin-top: 15px;
}
.movieTop h1 {
  font-size:20px;
}
.movieTop h6 {
  font-size:15px;
}
.introduction {
  display:none;
}
#reviewsRoom p {
  font-size:12px;
}
.moviecontentList p {
  font-size:8px;
}
.bg {
  background-color: rgba(7, 7, 7, 0.808);
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:500px;
}
}
@media screen and (min-width:497px) and (max-width:574px) {
  .movieimage img{
  width:150px;
  height:200px;
  object-fit: cover;
}

.movieTop h1 {
  font-size:30px;
}
.video {
  height:200px;
  }
  .movieTop {
    height:620px;
    margin-top: 15px;
  }
  .bg {
    background-color: rgba(7, 7, 7, 0.808);
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:670px;
  }
}
@media screen and (min-width:575px) and (max-width:676px) {
  .movieimage img{
  width:200px;
  height:250px;
  object-fit: cover;
}

.movieTop h1 {
  font-size:30px;
}
.video {
  height:300px;
}
.movieTop {
  height:500px;
  margin-top: 35px;
}
.bg {
  background-color: rgba(7, 7, 7, 0.808);
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:575px;
}
}
@media screen and (min-width:677px) and (max-width:767px) {
  .movieimage img{
  width:200px;
  height:250px;
  object-fit: cover;
  }
  .video {
  height:300px;
  }
  .movieTop {
    height:500px;
    margin-top: 35px;
  }
  .bg {
    background-color: rgba(7, 7, 7, 0.808);
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:575px;
  }
}
@media screen and (min-width:768px) and (max-width:991px) {
  .movieimage img{
  width:250px;
  height:350px;
  object-fit: cover;
}
  .video {
  height:450px;
  }
  .movieTop {
    height:500px;
    margin-top: 35px;
  }
  .bg {
    background-color: rgba(7, 7, 7, 0.808);
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:575px;
  }
  
}
@media screen and (min-width:992px) {
  .movieimage img{
  width:300px;
  height:450px;
  object-fit: cover;
  }
  .video {
  height:500px;
  }
  .movieTop {
    height:570px;
    margin-top: 35px;
  }
  .bg {
    background-color: rgba(7, 7, 7, 0.808);
    position: absolute;
    position: center; 
    top:0px;
    left:0px;
    width:100%;
    height:645px;
  }
}
.moviecontentList {
  background-color:white;
}

/* mypage */
@media screen and (max-width:497px) {
.navbar-brand h4 {
  font-size:17px;
}
.update p{
  font-size:10px;
}
.btn i{
  font-size:12px
}
.nav-link {
  font-size:10px;
}
.userimage img{
  width:60px;
  height:60px;
  object-fit: cover;
}
.userTop {
  height:200px;
  margin-top: 20px
}
.userTop h1 {
  font-size:13px;
}
.userTop h6, .genretList h6,.followList h6 {
  font-size:10px;
}
#reviewRoom p,#movieRoom p,#tweetRoom p,
#actorRoom p, #watchlistRoom p,#top20Room p {
  font-size:10px;
}
.introduction {
  display:none;
}
.usercontentList h6 {
  font-size:8px;
}
.userprofile img {
  width:30px;
  height:30px; 
  object-fit: cover;
  display:block;
}
.uservar {
  background-color: rgb(28, 19, 29);
  color:white;
  height:45px;
}
.follow_uservar {
  background-color: rgb(28, 19, 29);
  color:white;
  height:30px;
}
.card-body {
  font-size:10px;
}
}
@media screen and (min-width:497px) and (max-width:574px) {
.navbar-brand h4{
  font-size:20px;
}
  .userimage img{
  width:100px;
  height:100px;
  object-fit: cover;
}
.userTop h6 {
  font-size:1px;
}
.userTop h1 {
  font-size:30px;
}
.video {
  height:200px;
  }
.uservar {
  background-color: rgb(28, 19, 29);
  color:white;
  height:60px;
}
.follow_uservar {
  background-color: rgb(28, 19, 29);
  color:white;
  height:30px;
}
.usercontentList h6 {
  font-size:12px;
}
.userTop {
  height:300px;
  margin-top:20px;
}
}
@media screen and (min-width:575px) and (max-width:676px) {
.navbar-brand h4{
  font-size:25px;
}
  .userimage img{
  width:100px;
  height:100px;
  object-fit: cover;
}

.userTop h1 {
  font-size:20px;
}
.video {
  height:300px;
}
.userTop h6{
  font-size:10px;
}
.uservar {
  background-color: rgb(28, 19, 29);
  color:white;
  height:55px;
}
.follow_uservar {
  background-color: rgb(28, 19, 29);
  color:white;
  height:30px;
}
.usercontentList h6 {
  font-size:12px;
}
.userTop {
  height:300px;
  margin-top:50px;
}
}
@media screen and (min-width:677px) and (max-width:767px) {
  .navbar-brand h4{
    font-size:25px;
  }
  .userimage img{
  width:150px;
  height:150px;
  object-fit: cover;
  }
  .video {
  height:300px;
  }
  .userTop h6{
    font-size:10px;
  }
  .userTop h1 {
    font-size:25px;
  }
  .uservar {
    background-color: rgb(28, 19, 29);
    color:white;
    height:60px;
  }
  .follow_uservar {
    background-color: rgb(28, 19, 29);
    color:white;
    height:30px;
  }
  .usercontentList h6 {
    font-size:12px;
  }
  .userTop {
    height:250px;
    margin-top:50px;
  }
}
@media screen and (min-width:768px) and (max-width:991px) {

  .userimage img{
  width:150px;
  height:150px;
  object-fit: cover;
}
  .video {
  height:450px;
  }
  .userTop h1 {
    font-size:35px;
  }
  .uservar, .follow_uservar {
    background-color: rgb(28, 19, 29);
    color:white;
    height:30px;
  }
  .usercontentList h6 {
    font-size:12px;
  }
  .userTop {
    height:300px;
    margin-top:50px;
  }
}
@media screen and (min-width:992px) {
  .userimage img{
  width:200px;
  height:200px;
  object-fit: cover;
  }
  .video {
  height:500px;
  }
  .userTop {
    height:350px;
    margin-top:50px;
  }
  .uservar, .follow_uservar {
    background-color: rgb(28, 19, 29);
    color:white;
    height:35px;
  }
}
.usercontentList {
  background-color:white;
}

/* 紹介文 */
.introduction {
  width: 100%;
}
.introduction  p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}


/* メニューバー */
.navbar, .usercontentList, .modal-header { 
  background: rgb(28, 19, 29);
} 
.searchbar{
  background:white;
  color:black;
}
.sesrchform{
  height:45px;
}
.navbar h4{
  color:white;
}
.nav-item{
    font-size:0.8rem;
}
.mycontent1:hover,
.mycontent2:hover,
.mycontent3:hover,
.mycontent4:hover,
.mycontent5:hover,
.mycontent6:hover{
  opacity:0.8;
  cursor:pointer;
}


.trendactor{
  height:100%;
}

.topic1 img {
  width:100%;
  height:125px; 
  object-fit: cover;
  margin:0.5px;
}
@media screen and (min-width:350px) and (max-width:896px){
  .topic1 img {
    width:100%;
    height:250px; 
    object-fit: cover;
  }
}
@media screen and (min-width:896px) {
.topic1 img {
  width:100%;
  height:500px; 
  object-fit: cover;
}
}

.topic2 img{
  width:100%;
  height:65px; 
  object-fit: cover;
  margin:0.5px;
}
@media screen and (min-width:350px) and (max-width:896px){
  .topic2 img{
    width:100%;
    height:125px; 
    object-fit: cover;
  }
}
@media screen and (min-width:896px) {
  .topic2 img{
    width:100%;
    height:250px; 
    object-fit: cover;
}
}

@media screen and (max-width:480px) {
  .myactorList img,.ActorMovie, img{
    width:100%;
    height:70px; 
    object-fit: cover;
  }
}




/* お気に入り俳優 キャスト　リスト*/
@media screen and (max-width:500px) {
  .favoriteActor img {
    width:100%;
    height:120px; 
    object-fit: cover;
  }
  .favoriteActor img,.myimage p{
    font-size:10px;
  }
  
}
@media screen and (min-width:501px) and (max-width:768px) {
  .favoriteActor img {
    width:100%;
    height:150px; 
    object-fit: cover;
  }
}
@media screen and (min-width:769px) {
  .favoriteActor img {
    width:100%;
    height:200px; 
    object-fit: cover;
  }
  
}

@media screen and (max-width:350px) {
  .movieList img{
    width:100%;
    height:80px; 
    object-fit: cover;
  }
  .movieList p{
    display:none;
  }
}
/* 映画リスト */
@media screen and (min-width:351px) and (max-width:480px) {
  .movieList img{
    width:100%;
    height:130px; 
    object-fit: cover;
  }
  
}
@media screen and (min-width:481px) and (max-width:767px) {
  .movieList img{
    width:100%;
    height:180px; 
    object-fit: cover;
  }
  
}

@media screen and (min-width:768px) {
  .movieList img{
    width:100%;
    height:230px; 
    object-fit: cover;
  }
  
}







.postImages img {
    width:30px;
    height:30px; 
    object-fit: cover;
}

.reviewImages img{
    width:30px;
    height:30px; 
    object-fit: cover;
}

@media screen and (max-width:350px) {
  .RecommendedMovie img{
    width:100%;
    height:80px; 
    object-fit: cover;
  }
  
}

@media screen and (min-width:351px) and (max-width:600px) {
  .RecommendedMovie img{
    width:100%;
    height:180px; 
    object-fit: cover;
  }
  
}

@media screen and (min-width:601px) and (max-width:800px) {
  .RecommendedMovie img{
    width:100%;
    height:300px; 
    object-fit: cover;
  }
  
}
@media screen and (min-width:801px) {
  .RecommendedMovie img{
    width:100%;
    height:600px; 
    object-fit: cover;
  }
  
}




 








@media screen and (max-width:500px) {
  .movieSearch img{
    width:100px;
    height:150px; 
    object-fit: cover;
  }
  .movieSearch p{
    font-size:10px;
  }
  .movieSearch h3{
    font-size:15px;
  }
  .movieSearch h5{
    font-size:15px;
  }
} 


@media screen and (min-width:501px) and (max-width:767px) {
  .movieSearch img{
    width:100px;
    height:150px; 
    object-fit: cover;
  }
  
}

@media screen and (min-width:768px){
  .movieSearch img{
    width:150px;
    height:200px; 
    object-fit: cover;
  }
  
}

@media screen and (max-width:500px) {
  .actorSearch img{
    width:100px;
    height:150px; 
    object-fit: cover;
  }
  .actorSearch h4{
    font-size:15px;
  }
} 


@media screen and (min-width:501px) and (max-width:767px) {
  .actorSearch img{
    width:150px;
    height:200px; 
    object-fit: cover;
  }
  
}

@media screen and (min-width:768px){
  .actorSearch img{
    width:150px;
    height:200px; 
    object-fit: cover;
  }
  
}
/* お気に入り俳優通知機能 */
  #favoriteActor {
    position:relative;
  }
  .newBadge {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 13px;
    border-radius: 50%;
    width: 40px;
    height: 20px;
    background-color: #ff0000; 
    border: 1px solid #ff0000;
    color: #ffffff;
  }

  #movieList {
    position:relative;
  }
  .scoreBadge {
    position: absolute;
    top: 0;
    left: 2;
    font-size: 12px;
    line-height: 13px;
    border-radius: 80%;
    width: 25px;
    height: 20px;
    background-color: #e4ff4b; 
    border: 1px solid #000000;
    color: #030303;
  }
  .review {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 20px;
    line-height: 13px;
    width: 30px;
    height: 30px;
    color: #69e850;
  }

  .watchlist {
    position: absolute;
    top: 0;
    left: 40px;
    font-size: 20px;
    line-height: 13px;
    width: 30px;
    height: 30px;
    color: #69e850;
  }

  .check {
    color: #20f44a;
  }
  .reviwBook, .watchlistIcon {
    color: #ffffff;
  }