body{
  margin-top:60px;
  
}
/* 俳優TOP */
@media screen and (max-width:497px) {
  .actorimage img{
  width:150px;
  height:200px;
  object-fit: cover;
}

.actorTop h1 {
  font-size:30px;
}
.actorTop h6 {
  font-size:15px;
}
.introduction {
  display:none;
}
.actorcontentList h6 {
  font-size:8px;
}
.bg {
  background-color: rgba(7, 7, 7, 0.808);
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:550px;
}
}
@media screen and (min-width:497px) and (max-width:574px) {
  .actorimage img{
  width:150px;
  height:200px;
  object-fit: cover;
}

.actorTop h1 {
  font-size:30px;
}
.video {
  height:200px;
  }
.bg {
  background-color: rgba(7, 7, 7, 0.808);
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:535px;
}

}
@media screen and (min-width:575px) and (max-width:676px) {
  .actorimage img{
  width:200px;
  height:250px;
  object-fit: cover;
}
.bg {
  background-color: rgba(7, 7, 7, 0.808);
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:460px;
}
.actorTop h1 {
  font-size:30px;
}
.video {
  height:300px;
}
}
@media screen and (min-width:677px) and (max-width:767px) {
  .actorimage img{
  width:200px;
  height:250px;
  object-fit: cover;
  }
  .bg {
    background-color: rgba(7, 7, 7, 0.808);
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:450px;
  }
  .video {
  height:300px;
  }
}
@media screen and (min-width:768px) and (max-width:991px) {
  .actorimage img{
  width:250px;
  height:350px;
  object-fit: cover;
}
.bg {
  background-color: rgba(7, 7, 7, 0.808);
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:565px;
}
  .video {
  height:450px;
  }
}
@media screen and (min-width:992px) {
  .actorimage img{
  width:300px;
  height:450px;
  object-fit: cover;
  }
  .video {
  height:500px;
  }
  .bg {
    background-color: rgba(7, 7, 7, 0.808);
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:650px;
  }
}

.actorcontentList {
  background-color:white;
}
.twitter-timeline {
  margin: auto;
}

/* 映画TOP */
@media screen and (max-width:497px) {
  .movieimage img{
  width:150px;
  height:200px;
  object-fit: cover;
}
.movieTop {
  height:450px;
}
.movieTop h1 {
  font-size:20px;
}
.movieTop h6 {
  font-size:15px;
}
.introduction {
  display:none;
}
.moviecontentList h6 {
  font-size:8px;
}
}
@media screen and (min-width:497px) and (max-width:574px) {
  .movieimage img{
  width:150px;
  height:200px;
  object-fit: cover;
}

.movieTop h1 {
  font-size:30px;
}
.video {
  height:200px;
  }
}
@media screen and (min-width:575px) and (max-width:676px) {
  .movieimage img{
  width:200px;
  height:250px;
  object-fit: cover;
}

.movieTop h1 {
  font-size:30px;
}
.video {
  height:300px;
}
}
@media screen and (min-width:677px) and (max-width:767px) {
  .movieimage img{
  width:200px;
  height:250px;
  object-fit: cover;
  }
  .video {
  height:300px;
  }
}
@media screen and (min-width:768px) and (max-width:991px) {
  .movieimage img{
  width:250px;
  height:350px;
  object-fit: cover;
}
  .video {
  height:450px;
  }
}
@media screen and (min-width:992px) {
  .movieimage img{
  width:300px;
  height:450px;
  object-fit: cover;
  }
  .video {
  height:500px;
  }
  .movieTop {
    height:580px;
  }
}
.moviecontentList {
  background-color:white;
}

@media screen and (max-width:497px) {
  .userimage img{
  width:80px;
  height:80px;
  object-fit: cover;
}
.userTop {
  height:400px;
}
.userTop h1 {
  font-size:20px;
}
.userTop h6 {
  font-size:3px;
}
.introduction {
  display:none;
}
.usercontentList h6 {
  font-size:8px;
}
}
@media screen and (min-width:497px) and (max-width:574px) {
  .userimage img{
  width:100px;
  height:100px;
  object-fit: cover;
}
.userTop h6{
  font-size:10px;
}
.userTop h1 {
  font-size:30px;
}
.video {
  height:200px;
  }
}
@media screen and (min-width:575px) and (max-width:676px) {
  .userimage img{
  width:100px;
  height:100px;
  object-fit: cover;
}

.userTop h1 {
  font-size:20px;
}
.video {
  height:300px;
}
.userTop h6{
  font-size:10px;
}
}
@media screen and (min-width:677px) and (max-width:767px) {
  .userimage img{
  width:150px;
  height:150px;
  object-fit: cover;
  }
  .video {
  height:300px;
  }
  .userTop h6{
    font-size:10px;
  }
  .userTop h1 {
    font-size:25px;
  }
}
@media screen and (min-width:768px) and (max-width:991px) {
  .userimage img{
  width:150px;
  height:150px;
  object-fit: cover;
}
  .video {
  height:450px;
  }
  .userTop h1 {
    font-size:35px;
  }
}
@media screen and (min-width:992px) {
  .userimage img{
  width:200px;
  height:200px;
  object-fit: cover;
  }
  .video {
  height:500px;
  }
  .userTop {
    height:400px;
  }
}
.usercontentList {
  background-color:white;
}

/* 紹介文 */
.introduction {
  width: 100%;
}
.introduction  p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}


/* メニューバー */
.navbar, .usercontentList { 
  background: rgb(28, 19, 29);
} 
.uservar {
  background-color: rgb(28, 19, 29);
  color:white;
  height:35px;
}
.navbar h4{
  color:white;
}
.nav-item{
    font-size:0.8rem;
}
.mycontent1:hover,
.mycontent2:hover,
.mycontent3:hover,
.mycontent4:hover{
  opacity:0.8;
  cursor:pointer;
}


.trendactor{
  height:100%;
}

.topic1 img {
  width:100%;
  height:125px; 
  object-fit: cover;
  margin:0.5px;
}
@media screen and (min-width:350px) and (max-width:896px){
  .topic1 img {
    width:100%;
    height:250px; 
    object-fit: cover;
  }
}
@media screen and (min-width:896px) {
.topic1 img {
  width:100%;
  height:500px; 
  object-fit: cover;
}
}

.topic2 img{
  width:100%;
  height:65px; 
  object-fit: cover;
  margin:0.5px;
}
@media screen and (min-width:350px) and (max-width:896px){
  .topic2 img{
    width:100%;
    height:125px; 
    object-fit: cover;
  }
}
@media screen and (min-width:896px) {
  .topic2 img{
    width:100%;
    height:250px; 
    object-fit: cover;
}
}

@media screen and (max-width:480px) {
  .myactorList img,.ActorMovie, img{
    width:100%;
    height:70px; 
    object-fit: cover;
  }
}




/* お気に入り俳優 キャスト　リスト*/
@media screen and (max-width:500px) {
  .favoriteActor img, .castList img{
    width:100%;
    height:80px; 
    object-fit: cover;
  }
  .favoriteActor img,.myimage p{
    font-size:10px;
  }
  
}
@media screen and (min-width:501px) and (max-width:768px) {
  .favoriteActor img, .castList img{
    width:100%;
    height:120px; 
    object-fit: cover;
  }
}
@media screen and (min-width:769px) {
  .favoriteActor img, .castList img{
    width:100%;
    height:200px; 
    object-fit: cover;
  }
  
}

@media screen and (max-width:350px) {
  .movieList img{
    width:100%;
    height:80px; 
    object-fit: cover;
  }
  .movieList p{
    display:none;
  }
}
/* 映画リスト */
@media screen and (min-width:351px) and (max-width:480px) {
  .movieList img{
    width:100%;
    height:130px; 
    object-fit: cover;
  }
  
}
@media screen and (min-width:481px) and (max-width:767px) {
  .movieList img{
    width:100%;
    height:180px; 
    object-fit: cover;
  }
  
}

@media screen and (min-width:768px) {
  .movieList img{
    width:100%;
    height:230px; 
    object-fit: cover;
  }
  
}







.postImages img {
    width:30px;
    height:30px; 
    object-fit: cover;
}

.reviewImages img{
    width:30px;
    height:30px; 
    object-fit: cover;
}

@media screen and (max-width:350px) {
  .RecommendedMovie img{
    width:100%;
    height:80px; 
    object-fit: cover;
  }
  
}

@media screen and (min-width:351px) and (max-width:600px) {
  .RecommendedMovie img{
    width:100%;
    height:180px; 
    object-fit: cover;
  }
  
}

@media screen and (min-width:601px) and (max-width:800px) {
  .RecommendedMovie img{
    width:100%;
    height:300px; 
    object-fit: cover;
  }
  
}
@media screen and (min-width:801px) {
  .RecommendedMovie img{
    width:100%;
    height:600px; 
    object-fit: cover;
  }
  
}




 








@media screen and (max-width:500px) {
  .movieSearch img{
    width:100px;
    height:150px; 
    object-fit: cover;
  }
  .movieSearch p{
    font-size:10px;
  }
  .movieSearch h3{
    font-size:15px;
  }
} 


@media screen and (min-width:501px) and (max-width:767px) {
  .movieSearch img{
    width:100px;
    height:150px; 
    object-fit: cover;
  }
  
}

@media screen and (min-width:768px){
  .movieSearch img{
    width:150px;
    height:200px; 
    object-fit: cover;
  }
  
}

@media screen and (max-width:500px) {
  .actorSearch img{
    width:100px;
    height:150px; 
    object-fit: cover;
  }
  .actorSearch h4{
    font-size:15px;
  }
} 


@media screen and (min-width:501px) and (max-width:767px) {
  .actorSearch img{
    width:150px;
    height:200px; 
    object-fit: cover;
  }
  
}

@media screen and (min-width:768px){
  .actorSearch img{
    width:150px;
    height:200px; 
    object-fit: cover;
  }
  
}

#favoriteActor {
  position:relative;
}
.badge {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 13px;
  border-radius: 50%;
  width: 40px;
  height: 20px;
  background-color: #ff0000; 
  border: 4px solid #ff0000;
  color: #ffffff;
}









  

